<div class="container-fluid">
  <header id="header" class="row">
    <div class="header-logo">
      <button mat-raised-button class="navbar-brand" color="primary">Demo App</button>
    </div>
    <nav id="header-nav-wrap">
      <ul class="header-main-nav">
        <li ><a class="smoothscroll" href="/HomePage" title="home">Home</a></li>
        <li><a class="smoothscroll" href="#" title="about">About us</a></li>
        <li><a class="smoothscroll" href="#" title="jobs">Jobs</a></li>
        <li><a class="smoothscroll" href="#" title="clients">Clients</a></li>
        <li><a class="smoothscroll" href="#" title="employers">Employers</a></li>
        <li><a class="smoothscroll" href="#" title="contact">Contact us</a></li>
      </ul>
    </nav>
    <a class="header-menu-toggle" href="#"><span>Menu</span></a>
  </header>
  <router-outlet></router-outlet>
</div>