<section id="home" data-parallax="scroll" data-natural-width=3000 data-natural-height=2000>
  <div class="overlay"></div>
  <div class="home-content">
    <div class="row contents">
      <div class="home-content-left">
        <h1 data-aos="fade-up">
          I'm looking for.. <br>
        </h1>
        <div class="row">
          <div class="col-md-9">
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label>Enter Job Description</mat-label>
              <input matInput>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <button mat-raised-button color="primary" style="width: 115px;height: 52px;">Search</button>
          </div>
        </div>
        <div class="buttons" data-aos="fade-up">
          <button mat-raised-button color="primary" class="smoothscroll button stroke" (click)="openDialog()">Register</button>
        </div>
      </div>
    </div>
  </div>
</section>
